<div class="d-flex flex-column min-vh-100 min-vw-100">
    <mat-card class="d-flex flex-grow-1 justify-content-center align-items-center">
        <img class="logo" src="../../../assets/images/logo2.jpg" alt="no image">
    <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="submit()" class="d-flex flex-column align-items-center justify-content-center p-4
    shadow-sm p-3 mb-5 bg-body rounded" style="width: 24vw;">
      <p class="w-100">
        <mat-form-field class="w-100">
          <input type="text" matInput placeholder="Username" formControlName="username">
        </mat-form-field>
      </p>
    
      <p class="w-100">
        <mat-form-field class="w-100">
          <input type="password" matInput placeholder="Password" formControlName="password">
        </mat-form-field>
      </p>
    
      <p *ngIf="error" class="error">
        {{ error }}
      </p>
    
      <div class="w-100">
        <button type="submit" mat-flat-button color="primary" class="w-100">Login</button>
      </div>
    
    </form>
    </mat-card-content>
    </mat-card>
</div>