<mat-spinner *ngIf="loading" class="z-3 position-absolute top-50 start-50 translate-middle"></mat-spinner> 
<mat-sidenav-container class="example-container" *ngIf="loggedIn else loggedOut">
  <mat-sidenav mode="side" opened class="w-v14 h-100 shadow-lg p-3 mb-5 bg-body rounded">
          <div *ngFor="let item of menuItems" class="py-1 border-bottom border-1 w-100 d-flex align-items-center">
            <a [routerLink]="item.Url" class="d-flex align-items-center gap-3 w-100 link">
              <div class="image-menu d-flex align-items-center">
                <fa-icon [icon]="item.Icon"></fa-icon>
              </div>
              <div class="d-flex align-items-center">
                <p class="mb-0">{{item.Text}}</p>
              </div>
            </a>
          </div>
        </mat-sidenav>
        <mat-sidenav-content>
            <mat-toolbar class="toolbar shadow-lg align-items-center justify-content-end">
              <mat-form-field class="pt-2">
                <mat-label>Language</mat-label>
                <mat-select [(ngModel)]="selectedLang">
                  @for (lang of languages; track lang) {
                    <mat-option [value]="lang.short">{{lang.name}}</mat-option>
                  }
                </mat-select>
              </mat-form-field>
            </mat-toolbar>
            <div class="p-4">
              <router-outlet>
              </router-outlet>
            </div>          
        </mat-sidenav-content>
      </mat-sidenav-container>

<ng-template #loggedOut>
  <router-outlet>
  </router-outlet>
</ng-template>